*{
    margin: 0%;
    padding: 0%;
}
  .card {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 52px;

  }
  .card .crd {
    width: 280px;
    height: 300px;
    background: #818181;
    border-radius: 8px;
    margin-inline: 11px;
    text-align: center;
    margin: 10px;

  

  }

  .card .crd img{
    width: 100%;
    height: 82%;
    border-radius: 8px;
    object-fit: cover;

  }


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


/* image in modal*/
.modal-body .picture {
  height: 75px;
  width: 75px;
}
.modal-body .picture img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.songname .song{
  font-size: 25px;
}
.modal-body .songname{
  margin: 30px;
}
audio{
  width: 1000px;
  margin: 30px;
}

