*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Fira Sans', sans-serif;
}


.basic{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: transparent;
    filter: blur();
    width: 100%;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(71, 230, 50);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 60px;
    width:100% ;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(241, 104, 104);
  }
  

  




/* The sidebar menu */
.side-bar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 550px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background:black;
    fill-opacity: 50%;
    filter: blur();
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 109px;

  }
  
  /* The navigation menu links */
  .side-bar .other_stuff a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .side-bar .other_stuff a:hover {
    color: #f1f1f1;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 
  .side-bar .profile {
    
    width: 450px;
    height: 300px;
    background: #030303;
    margin: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    

    
  }
  .side-bar .profile img{
    margin-top: 5px;
    margin-left: 60px;
    width: 70%;
    height: 80%;
    border-radius: 47%;
    margin-bottom: 15px;
    object-fit: cover;
  }
  .side-bar .profile h2{
    text-align: center;
    color: #f1f1f1
    ;
  }


  .main{
    
 
  }



  .card {
    display: flex;
    flex-wrap: wrap;
    
  }
  .card .crd,.upload_muzic {
    width: 270px;
    height: 290px;
    background: #818181;
    border-radius: 8px;
    margin-inline: 11px;
    text-align: center;
    margin: 10px;

  

  }
  .card .upload_muzic{

  }

  .card .crd img{
    width: 100%;
    height: 58%;
    border-radius: 16px;
    object-fit: cover;

  }
  .card .crd .gana{
    width: 270px;

  }
  .card .crd .gana audio{
    width: 80%;
  }

  .card .last box-icon{

    width: 180px;
    height: 180px;
  }
  .card .last{
    margin-top:40px;
  }

  .scroll-bg{
    background: blue;
    width: 1050px;
    height: auto;
    margin-top: 108px;
    margin-left: 550px;
    
    
    
  }
  .scroll-div{
    width: 100%;
    height: 100%;
    background: rgb(153, 0, 255);
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .scroll-object{
    color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 30px;
  }




